stages:
  - build
  - deploy

test:
  stage: build
  image: node
  before_script:
    - yarn add @vue/cli-service
  script:
    - yarn build
  artifacts:
    paths:
      - ./dist

deploy:
  stage: deploy
  image: alpine:3.7
  before_script:
    - apk update
    - apk add openssh
  script:
    - ls
    - mkdir -p ~/.ssh
    - echo "$AWS_KEY" > ~/.ssh/$KEY_NAME
    - chmod 600 ~/.ssh/$KEY_NAME
    - ssh -tt -o StrictHostKeyChecking=No -i ~/.ssh/$KEY_NAME $HOST "cd /www && sudo rm -rf /www/$TARGET && cd /www && sudo mkdir $TARGET && sudo chmod 777 $TARGET"
    - scp -o StrictHostKeyChecking=No -i ~/.ssh/$KEY_NAME -r dist/* $HOST:/www/$TARGET
