$c-main: #1e90ff;
$c-green: #4caf50;
$c-brown: #cd853f;
$c-red: #cd5c5c;
$c-text1: #7d7d7d;
$c-lightgrey: #dcdcdc;

$c-error-message: $c-red;

$c-aside: #ffa07a;
$c-aside-hover: #ffa07a;

// layout
$c-layout-header: $c-main;

$c-calendar-not-curr-month: #b9b9b9;

$c-badge--default: $c-main;
$c-badge--brown: $c-brown;
$c-badge--green: $c-green;
$c-badge--red: $c-red;
