$c-main: #1e90ff;
$c-error-message: #cd5c5c;
$c-lightgrey: #dcdcdc;
$c-badge: #cd853f;
$c-aside: #ffa07a;
$c-aside-hover: #ffa07a;
$c-green: #4caf50;

$c-text1: #7d7d7d;

// layout
$c-layout-header: $c-main;

$c-calendar-not-curr-month: #b9b9b9;
