// https://colorhunt.co/palette/154142

// main
$c-main1: #49beb7;
$c-main2: #333948;
$c-main3: #322d41;

// assist
$c-assist1: #222;
$c-assist2: #999;
$c-assist3: #999;

// pure white/black
$c-white: #ffffff;
$c-black: #000000;

// text
$c-text1: #000;
$c-text2: #000;

$c-error: #e57c7c;
